---
	import Icon from './Icon.svelte';
---

<div class="bg-slate-800 h-screen flex flex-col">
	<a
		href="https://nosdev.vercel.app/cv"
		target="_blank"
		rel="noopener noreferrer"
		class="p-4 lg:p-7 bg-orange-500 bg-opacity-0 hover:bg-opacity-60 text-slate-500 hover:text-white"
	>
		<Icon icon="info" />
	</a>
	<a
		href="https://nosdev.vercel.app/"
		target="_blank"
		rel="noopener noreferrer"
		class="p-4 lg:p-7 bg-teal-500 bg-opacity-0 hover:bg-opacity-60 text-slate-500 hover:text-white"
	>
		<Icon icon="portfolio" />
	</a>
	<a
		href="https://www.linkedin.com/in/arnaud-fouch%C3%A9-4261b56b/"
		target="_blank"
		rel="noopener noreferrer"
		class="p-4 lg:p-7 bg-indigo-500 bg-opacity-0 hover:bg-opacity-60 text-slate-500 hover:text-white"
	>
		<Icon icon="linkedin" />
	</a>
	<a
		href="https://github.com/Nostrorom"
		target="_blank"
		rel="noopener noreferrer"
		class="p-4 lg:p-7 bg-fuchsia-500 bg-opacity-0 hover:bg-opacity-60 text-slate-500 hover:text-white"
	>
		<Icon icon="github" />
	</a>
</div>
